.forgot-container{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#0f172a,
#2563eb
);

}



.forgot-card{

background:white;

width:350px;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:
0 15px 35px rgba(0,0,0,0.25);

}



.forgot-logo{

font-size:50px;

}



.forgot-card h1 span{

color:#2563eb;

}



.forgot-card input{

width:90%;

padding:14px;

margin:15px 0;

border-radius:10px;

border:1px solid #cbd5e1;

}



.forgot-card button{

width:95%;

padding:14px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}



.token-box{

margin-top:20px;

padding:15px;

background:#f1f5f9;

border-radius:10px;

word-break:break-all;

}



.forgot-card a{

display:block;

margin-top:20px;

color:#2563eb;

}